:root {
  --font-main: "DM Sans", sans-serif;
  --font-add: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
h1,
h3,
p {
  padding: 0;
  margin: 0;
}
.main-screen {
  height: 100vh;
  background-color: #171718;
}
.main-screen__header,
.nav__a {
  font-family: var(--font-add);
}

.projects,
.main-screen__info,
.copyright {
  font-family: var(--font-main);
}
.footer {
  background-color: #171718;
}
img {
  width: 100%;
}
